.card {
    background-color: #ffffff;
    border-radius: 16px;
    padding: 40px 24px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    position: relative;
}

.card__header {
    display: flex;
    flex-direction: row;
    gap: 32px;
    justify-self: center;
}

.card__header-point {
    width: 40px;
    height: 40px;
    align-self: center;
}

.card__header-header {
    font-size: 42px;
    font-weight: 700;
}

.card__text {
    font-size: 18px;
    color: #848484;
}

.card__header-header span {
    color: #ff6a00;
}

@media (max-width: 600px) {
    .card {
        padding: 16px;
        gap: 16px;
    }

    .card__header-header {
        font-size: 24px;
        font-weight: 700;
        line-height: 32px;
    }

    .card__header-point {
        display: none;
    }
}

@media (min-width: 600px) {
    .card {
        padding: 16px;
    }

    .card__header-header {
        font-size: 24px;
        font-weight: 700;
        line-height: 32px;
    }

    .card__header-point {
        display: none;
    }
}

@media (min-width: 1000px) {
    .card {
        padding: 24px;
    }

    .card__header-header {
        font-size: 32px;
        font-weight: 700;
        line-height: 40px;
    }

    .card__header-point {
        width: 28px;
        height: 28px;
        display: block;
    }
}

@media (min-width: 1300px) {
    .card {
        padding: 40px 24px;
    }

    .card__header-header {
        font-size: 36px;
        font-weight: 700;
        line-height: 44px;
    }

    .card__header-point {
        width: 32px;
        height: 32px;
    }
}

@media (min-width: 1600px) {
    .card__header-header {
        font-size: 42px;
        font-weight: 700;
        line-height: 50px;
    }

    .card__header-point {
        width: 40px;
        height: 40px;
    }
}

