.examples-header {
    align-self: center;
}

.examples-card__content {
    display: flex;
    flex-direction: row;
    gap: 32px;
    justify-content: space-evenly;
}

.examples-card__content-header {
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
}

.examples-card__content-text {
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
    color: #848484;
}

.examples-card__content-left {
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-wrap: wrap;
    width: 60%;
    grid-area: ba;
}

.examples-card__content-right {
    display: flex;
    flex-direction: row;
    gap: 16px;
    width: 32%;
    grid-area: slider;
}

.img-cont {
    background: #F0F0F0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
    height: 368px;
}

.img-cont.grab {
    cursor: grab;
  }
  
.img-cont.grabbing{
    cursor: grabbing;
}

.slider-img {
    max-width: 100%;
    max-height: 100%;
}

.examples-card__content-right__item {
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-wrap: wrap;
    width: 100%;
}

.bttn-scroll-prev {
    width: 60px;
    height: 60px;
    background: #101010;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bttn-scroll-next {
    width: 60px;
    height: 60px;
    background: #101010;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-button,
.right-button {
    -moz-user-select: none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.bttn-scroll-prev:hover,
.bttn-scroll-next:hover {
    background-color: #ff6a00;
    cursor: pointer;
}

.left-button {
    transform: rotate(180deg);
}

.btt-container {
    position: relative;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.examples-card__content-right__item {
    animation-name: fade;
    animation-duration: 2s;
}

@keyframes fade {
    from {
        opacity: 0.1;
    }
    to {
        opacity: 1;
    }
}

.slider-container {
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    background-color: #F0F0F0;
}

.slider-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slider-image.before {
    z-index: 1;
    clip-path: inset(0 50% 0 0);
}

.slider-image.after {
    z-index: 2;
    clip-path: inset(0 0 0 50%);
}

.slider-handle {
    position: absolute;
    top: 0;
    left: 50%;
    width: 10px;
    height: 100%;
    background: #fff;
    cursor: ew-resize;
    z-index: 3;
    transform: translateX(-50%);
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.25);
}

.after,
.before {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.after__image,
.before__image {
    height: 100%;
}

.slider-container {
    width: 100%;
}

@media (max-width: 600px) {
    .examples-card__content {
        display: grid;
        grid-template-areas:
            "slider"
            "ba";
        gap: 32px;
    }

    .slider-container {
        height: 300px;
    }

    .examples-card__content-header {
        font-size: 20px;
        font-weight: 500;
        line-height: 32px;
    }

    .examples-card__content-text {
        font-size: 18px;
        font-weight: 300;
        line-height: 24px;
        color: #848484;
    }

    .examples-card__content-left {
        display: flex;
        flex-direction: column;
        gap: 16px;
        text-wrap: wrap;
        width: 100%;
    }

    .examples-card__content-right {
        display: flex;
        flex-direction: row;
        gap: 16px;
        width: 100%;
    }

    .bttn-scroll-prev {
        width: 44px;
        height: 44px;
    }

    .bttn-scroll-next {
        width: 44px;
        height: 44px;
    }

    .slider-img {
        width: 100%;
        object-fit: contain;
    }
}

@media (min-width: 600px) {
    .examples-card__content {
        display: grid;
        grid-template-areas:
            "slider"
            "ba";
        gap: 32px;
    }

    .slider-container {
        height: 300px;
    }

    .examples-card__content-header {
        font-size: 20px;
        font-weight: 500;
        line-height: 32px;
    }

    .examples-card__content-text {
        font-size: 18px;
        font-weight: 300;
        line-height: 24px;
        color: #848484;
    }

    .examples-card__content-left {
        display: flex;
        flex-direction: column;
        gap: 16px;
        text-wrap: wrap;
        width: 100%;
    }

    .examples-card__content-right {
        display: flex;
        flex-direction: row;
        gap: 16px;
        width: 100%;
    }

    .bttn-scroll-prev {
        width: 44px;
        height: 44px;
    }

    .bttn-scroll-next {
        width: 44px;
        height: 44px;
    }

    .slider-img {
        width: 100%;
        object-fit: contain;
    }
}

@media (min-width: 1000px) {
    .examples-card__content {
        display: flex;
        flex-direction: row;
        gap: 32px;
        justify-content: space-evenly;
    }

    .btt-container {
        position: relative;
        margin-left: auto;
        display: flex;
        flex-direction: row;
    }

    .slider-container {
        height: 291px;
    }

    .examples-card__content-header {
        font-size: 20px;
        font-weight: 500;
        line-height: 32px;
    }

    .examples-card__content-text {
        font-size: 18px;
        font-weight: 300;
        line-height: 24px;
        color: #848484;
    }

    .examples-card__content {
        display: flex;
        flex-direction: row;
        gap: 32px;
        justify-content: space-evenly;
    }

    .examples-card__content-left {
        display: flex;
        flex-direction: column;
        gap: 16px;
        text-wrap: wrap;
        width: 60%;
    }

    .examples-card__content-right {
        display: flex;
        flex-direction: row;
        gap: 16px;
        width: 32%;
    }

    .bttn-scroll-prev {
        width: 60px;
        height: 60px;
        background: #101010;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .bttn-scroll-next {
        width: 60px;
        height: 60px;
        background: #101010;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (min-width: 1300px) {
    .slider-container {
        height: 368px;
    }

    .examples-card__content-header {
        font-size: 24px;
        font-weight: 500;
        line-height: 36px;
    }

    .examples-card__content-text {
        font-size: 18px;
        font-weight: 300;
        line-height: 28px;
        color: #848484;
    }
}

@media (min-width: 1600px) {
    .slider-container {
        height: 400px;
    }
}

@media (min-width: 1800px) {
    .slider-container {
        height: 500px;
    }
}

/* before/after
.ba-block {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

.after-cont {
    margin-left: 8px;
}

.image-comparison {
    position: relative;
    display: inline-block;
    justify-content: center;
    align-items: center;
    width: auto;
    width: 100%;
    max-width: 350px;
    padding: 30px 0;
}

.image-comparison__before {
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    width: 50%;
    overflow: hidden;
}

.image-comparison__image {
    display: block;
    -moz-user-select: none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Ползунок */
/* .image-comparison__slider {
    padding: 0;
    border: none;
    outline: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 100%;
    cursor: col-resize;
    background: #fff;
}

.image-comprison__slider:hover,
.image-comprison__slider:focus,
.image-comprison__slider:hover::before,
.image-comprison__slider:focus::before {
    background-color: #fff;
    outline: none;
    border: none;
}

.before,
.after {
    height: 500px;
    width: 350px;
}

.before {
    width: 390px;
} */
