.hero {
    height: calc(100vh - 60px);
    width: 100vw;
    overflow-y: hidden;
}

.hero-card {
    width: 100%;
    height: 100%;
    background-color: #101010;
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: 5fr 1fr;
}

.hero-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
}

.hero-header {
    font-family: Manrope;
    font-size: 64px;
    font-weight: 700;
    line-height: 76px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #ffffff;
}

.hero-description-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.hero-description {
    font-family: Manrope;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #e1e1e1;
}

.img-zone {
    width: 50%;
    box-shadow: inset 0px 0px 15px 20px #101010;
    background-image: url("../new_main.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-img {
    width: 100%;
    height: 100%;
    border-radius: 24px;
}

.city-button {
    border: 1px solid #ffffff;
    border-radius: 24px;
    padding: 12px 20px;
    color: #ffffff;
    font-family: Manrope;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    width: fit-content;
}

.info-zone {
    width: 50%;
    padding-left: 24px;
    padding-top: 32px;
    padding-bottom: 48px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}

.info-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.navigation-button.hero-button {
    width: 205px;
}

@media (max-width: 600px) {
    .hero {
        margin-bottom: 16px;
    }

    .hero-row {
        flex-direction: column;
        align-items: center;
    }

    .info-zone {
        width: 100%;
        height: 100%;
        box-shadow: inset 0px 0px 15px 20px #101010;
        background-image: linear-gradient(
                rgba(0, 0, 0, 0.5),
                rgba(0, 0, 0, 0.5)
            ),
            url("../new_main_reversed.png");
        background-repeat: no-repeat;
        background-size: 100% 70%;
    }

    .info-container {
        gap: 24px;
    }

    .hero-description-container {
        gap: 24px;
        padding: 8px;
    }

    .info-zone::before {
        background: #000;
    }

    .img-zone {
        display: none;
    }

    .hero-header {
        font-size: 40px;
        line-height: 48px;
    }
}

@media (min-width: 600px) and (max-width: 999px) {
    .hero-row {
        flex-direction: column;
        align-items: center;
    }

    .info-container {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    .hero-description-container {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    .info-zone {
        width: 100%;
        height: 100%;
        box-shadow: inset 0px 0px 15px 20px #101010;
        background-image: linear-gradient(
                rgba(0, 0, 0, 0.5),
                rgba(0, 0, 0, 0.5)
            ),
            url("../new_main_reversed.png");
        background-repeat: no-repeat;
        background-size: cover;
    }

    .info-zone::before {
        background: #000;
    }

    .img-zone {
        display: none;
    }

    .hero-header {
        font-size: 48px;
        line-height: 56px;
    }
}

@media (min-width: 1000px) {
    

    .img-zone {
        display: block;
        width: 50%;
        box-shadow: inset 0px 0px 15px 20px #101010;
        background-image: url("../new_main.png");
        background-repeat: no-repeat;
        background-size: cover;
    }

    .hero-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 100%;
    }

    .hero-header {
        font-size: 48px;
        line-height: 56px;
    }
}

@media (min-width: 1300px) {
    .hero {
        height: calc(100vh - 58px);
        width: 100vw;
        overflow-y: hidden;
    }

    .hero-card {
        width: 100%;
        height: 100%;
        background-color: #101010;
        display: grid;
        grid-auto-flow: row;
        grid-template-rows: 5fr 1fr;
    }

    .hero-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 100%;
    }

    .hero-header {
        font-family: Manrope;
        font-size: 60px;
        font-weight: 700;
        line-height: 72px;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: #ffffff;
    }

    .hero-description-container {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    .hero-description {
        font-family: Manrope;
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: #e1e1e1;
    }

    .img-zone {
        width: 50%;
        box-shadow: inset 0px 0px 15px 20px #101010;
        background-image: url("../new_main.png");
        background-repeat: no-repeat;
        background-size: cover;
    }

    .hero-img {
        width: 100%;
        height: 100%;
        border-radius: 24px;
    }
}

@media (min-width: 1600px) {
}

@media (min-width: 1800px) {
}
