.main {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 1440px;
    justify-self: center;
    padding-top: 16px;
}

.container {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.image-section {
    display: flex;
    justify-content:space-around;
}

.about-img {
    min-width: 666px;
    height: auto;
}

