.video-area {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 16px;
}

.video-card {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.video {
    width: 100%;
    height: 100%;
}

.video-name {
    font-family: Manrope;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

@media (max-width: 600px) {
    .video-area {
        flex-direction: column;
        gap: 32px;
    }
}

@media (min-width: 600px) {
    .video-area {
        flex-direction: column;
        gap: 32px;
    }
}

@media (min-width: 1000px) {
    .video-area {
        flex-direction: row;
    }
}
